if &compatible
  set nocompatible
endif

set encoding=UTF-8
set backspace=indent,eol,start
set number
set ruler
set suffixes+=.aux,.bbl,.blg,.brf,.cb,.dvi,.idx,.ilg,.ind,.inx,.jpg,.log,.out,.png,.toc
set suffixes-=.h
set suffixes-=.obj
"set laststatus=2
"set noshowmode
set termguicolors

" Move temporary files to a secure location to protect against CVE-2017-1000382
if exists('$XDG_CACHE_HOME')
  let &g:directory=$XDG_CACHE_HOME
else
  let &g:directory=$HOME . '/.cache'
endif
let &g:undodir=&g:directory . '/vim/undo//'
let &g:backupdir=&g:directory . '/vim/backup//'
let &g:directory.='/vim/swap//'
" Create directories if they doesn't exist
if ! isdirectory(expand(&g:directory))
  silent! call mkdir(expand(&g:directory), 'p', 0700)
endif
if ! isdirectory(expand(&g:backupdir))
  silent! call mkdir(expand(&g:backupdir), 'p', 0700)
endif
if ! isdirectory(expand(&g:undodir))
  silent! call mkdir(expand(&g:undodir), 'p', 0700)
endif

call plug#begin()

" Syntax Highlighting / Completion
Plug 'neoclide/coc.nvim'

" Formatter
Plug 'prettier/vim-prettier', { 'do': 'npm install' }

" Commenter
Plug 'preservim/nerdcommenter'

" Easy Surround 
Plug 'tpope/vim-surround'

" File Explorer
Plug 'preservim/nerdtree'

" Add Icons to every file
Plug 'ryanoasis/vim-devicons'

" Colorscheme
Plug 'dylanaraps/wal.vim'
Plug 'catppuccin/vim', { 'as': 'catppuccin' }
" Status Bar on bottom of editor
Plug 'vim-airline/vim-airline'

" Integrations
" Discord RPC
Plug 'vimsence/vimsence'
" Git Wrapper
Plug 'tpope/vim-fugitive'
" Track Coding Time
Plug 'wakatime/vim-wakatime'

call plug#end()

colorscheme wal
let g:airline#extensions#tabline#enabled = 1
"set noshowmode
set laststatus=2
filetype plugin on
" Create default mappings
let g:NERDCreateDefaultMappings = 1
" Use compact syntax for prettified multi-line comments
let g:NERDCompactSexyComs = 1
" Allow commenting and inverting empty lines (useful when commenting a region)
let g:NERDCommentEmptyLines = 1
" Enable trimming of trailing whitespace when uncommenting
let g:NERDTrimTrailingWhitespace = 1
" Enable NERDCommenterToggle to check all selected lines is commented or not 
let g:NERDToggleCheckAllLines = 1

" Remapping
let g:mapleader = "<space>"
nnoremap <leader>py <Plug>(Prettier)
imap <c-d> <esc>ddi
nnoremap <c-s> :w<enter>
nnoremap <c-f> /

nnoremap <leader>e :NERDTreeFocus<CR>
nnoremap <c-b> :NERDTreeToggle<CR>
" Comment mappings
nmap <leader>c$ <Plug>NERDCommenterToEOL * :call nerdcommenter#Comment("n", "ToEOL")<CR>
" Comment current line and move cursor down
" Comment current line without moving cursor
nnoremap <leader>cc :call nerdcommenter#Comment('n', 'toggle')<CR>
" Comment and move down (if needed)
nnoremap <leader>cj :call nerdcommenter#Comment('n', 'toggle')<CR>j
" Comment and delete (if needed)
nnoremap <leader>cd :call nerdcommenter#Comment('n', 'toggle')<CR>dd


" Exit Vim if NERDTree is the only window remaining in the only tab.
autocmd BufEnter * if tabpagenr('$') == 1 && winnr('$') == 1 && exists('b:NERDTree') && b:NERDTree.isTabTree() | call feedkeys(":quit\<CR>:\<BS>") | endif
" Close the tab if NERDTree is the only window remaining in it.
autocmd BufEnter * if winnr('$') == 1 && exists('b:NERDTree') && b:NERDTree.isTabTree() | call feedkeys(":quit\<CR>:\<BS>") | endif
" If another buffer tries to replace NERDTree, put it in the other window, and bring back NERDTree.
autocmd BufEnter * if winnr() == winnr('h') && bufname('#') =~ 'NERD_tree_\d\+' && bufname('%') !~ 'NERD_tree_\d\+' && winnr('$') > 1 |
    \ let buf=bufnr() | buffer# | execute "normal! \<C-W>w" | execute 'buffer'.buf | endif


" GUI mode
if has('gui_running')
  " Make shift-insert work like in Xterm
  map <S-Insert> <MiddleMouse>
  map! <S-Insert> <MiddleMouse>
  colorscheme catppuccin_mocha
endif

"let g:vimsence_client_id = '439476230543245312'
"let g:vimcord_show_workspace = 'false'